{% extends 'base.html' %}
{% block title %}
    Password reset | {{ SITENAME }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            <a href="{% url 'home' %}">{{ SITENAME }}</a>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <p>An e-mail was sent to your account with a link to reset your password.</p>
                        <p>If you didn't receive it, check your SPAM folder or try again.</p>
                        <a href="{% url 'home' %}" class="btn btn-block btn-light">Return to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}