{% extends 'login_base.html' %}
{% load static %}
{% block meta_header %}
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
{% endblock %}
{% block footer_scripts %}
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}

{% block account_content %}
    <div class="container">
        <h1>Profile</h1>
        <small>Edit your profile</small>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        {{ user.username }}
                    </div>
                    <div class="card-body">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="btn">Update profile</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}