body {
  background-image: url(../img/light-grey-terrazzo.png);
}

.logo {
  font-family: 'Goudy Bookletter 1911', serif;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}